.grid {
  display: grid;
  grid-template-columns: repeat(16, 30px); /* Defina o número de colunas e o tamanho dos blocos */
  grid-gap: 2px; /* Espaço entre os blocos */
  border: 2px solid #333; /* Borda da grade */
}

.block {
  width: 30px;
  height: 30px;
  background-color: white; /* Cor inicial dos blocos */
  border: 1px solid #ccc; /* Borda dos blocos */
}
